@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
  margin: 0;
  padding: 0;
  outline: none;
  
}

body, html {
  width: 100%;
  height: 100%;
}
body a{
  text-decoration:none;
  color:aliceblue;
} 

body {
    
  background-attachment: fixed;
  /*background-blend-mode: multiply;*/
  background-size: cover; 
  background-image: url("index.jpg");
  font-family: 'Suez One', serif; 
}
#logo{
  color:aliceblue;
}

#h22 h2{
  padding-top: 7%;
  text-align: center;
  font-size: 3em;
  color: aliceblue;
}

#overview {
  float: left;
  background-image: url("index.jpg");
  background-blend-mode: multiply;
  background-color: #403f40;
  margin-left: 5%;
  background-size: cover;
  background-attachment: fixed;
  padding: 4% 0;
  width: 90%;
  color: #fff;
  margin-bottom: 7%;
  margin-top: 12%;

}

#overview h2 {font-size: 4em}


@media (min-width: 561px) {
  #overview h2 {font-size: 4em}
}

@media (max-width: 560px) {
  #overview h2 {font-size: 2em;
    
  }
}

#overview .img {
  float: left;
  width: 30%; 
  margin-left: 14%;
  margin-right: 3%;
  margin-top: 1%;
 
}



#overview img {
  background: #fafafa;
  padding: 0.5%;
  border: 2px solid silver;
  float: left;
  width: 100%;
  max-width: 500px;
  margin-left: 2%;
  margin-right: 2%;
  
}
#overview a{
  margin-top: 0%;
}
#img{
  
    margin-top: -4%;
  
}
#span {
 font-size: 2em;
  float: left;
  width: 90%; 
  margin-left: 5%;
  text-align: justify;
  text-indent: 5%;
  margin-top: 4%;
 }

 
 

@media (max-width: 700px) {
  #overview{
    margin-top: 50%;
  }
  #h22 .A{
    margin-top: 20%;
  }
  #h22 .B{
    margin-top: 20%;
  }
  #overview .img {
    width: 80%!important;
    margin-right: 10%!important;
    margin-left: 5%!important;
    margin-top: 50%;
    padding-right: 20%;
  }
} 

